#context_carrello
{
    background: #e9e9e9;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto; 
    width: auto;

    display: block;
    
    
}

.card_biglietto
{
    border-bottom: solid 2px rgba(128, 128, 128, 0.477);
    padding: 10px;
    margin: 0;

}

.card_biglietto .img_biglietto img
{
    height: 30px;
    width: auto;
}
.card_biglietto:hover
{
    transform: scale(1.07);
}
