@charset "UTF-8";

*{
	font-family: 'Geologica', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #133847;
}
form
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  border: solid rgb(255, 217, 0) 20px;
  background-color: white;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}



h1{
	align-items: center;
	color: black;
}
h2{
	align-items: center;
	color: black;
}

.bottone {
	size: 30px;
	background-color: rgb(255, 217, 0);
	color: white;
	
}

